<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaos.service.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.chaos.service.entity.dto.admin.AdminDto">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="sex" property="sex"/>
        <result column="org_id" property="orgId"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT * FROM sys_admin WHERE username = #{username} AND del_flag = 0
    </select>

    <select id="selectRoleIdsByAdminId" resultType="java.lang.Long">
        SELECT role_id FROM sys_admin_role WHERE admin_id = #{adminId}
    </select>

    <select id="selectPermissionsByAdminId" resultType="java.lang.String">
        SELECT DISTINCT m.permission
        FROM sys_menu m
        INNER JOIN sys_role_menu rm ON m.id = rm.menu_id
        INNER JOIN sys_admin_role ar ON rm.role_id = ar.role_id
        WHERE ar.admin_id = #{adminId}
          AND m.permission IS NOT NULL
          AND m.permission != ''
          AND m.status = 1
          AND m.del_flag = 0
    </select>

</mapper>
